html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  list-style-type: none;
  text-align: center;
  padding: .6em, 0.5em 0.75em;
  margin: 0.3em;
}

nav {
display: inline-block;
padding: .6em, 0.5em 0.75em;
text-decoration: none;
}
