html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

body {
  font-family: 'Bevan', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  list-style-type: none;
  text-align: center;
  background-color: #79756f;
  border: 3px solid #595652;
}

nav {
display: inline-block;
text-decoration: none;
}
